<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>遍历集合</title>
</head>
<body>
<!--遍历集合-->
<table>
    <tr>
        <td>id</td>
        <td>name</td>
        <td>age</td>
        <td>index</td>
        <td>count</td>
    </tr>
<!--循环遍历集合-->
    <tr th:each="user,stat:${userList}">
        <td th:text="${user.id}">id</td>
        <td th:text="${user.name}">name</td>
        <td th:text="${user.age}">age</td>
        <td th:text="${stat.index}">age</td>
        <td th:text="${stat.count}">age</td>
    </tr>
</table>
</body>
</html>